.accounts {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.accounts li {
    padding: 0 28px 0 0;
}
    
.accounts li a {
    display: block;
    line-height: 24px;
}

img {
    display: inline-block;
    width: 24px;
    margin-right: 8px;
    border-radius: 4px
}

/* 幅が480px以下であれば */
@media screen and (max-widtth:480px) {
    .accounts {
        display: block;
    }

    li {
        padding: 0 0 24px 0;
    }
}